*{
    margin: 0;
    padding: 0;
    background-color: rgb(246, 254, 255);
}

h1, .input-container{
    padding: 10px;
    text-align: center;
}

.input-container input[type="text"]{
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
    margin-right: 10px;
    border-radius: 6px;
    border: 2px solid;
}

button{
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    border: 2px solid;
}


.list-item{
    padding: 20px 0;
}


.container{
    margin: 30px auto;
    max-width: 800px;
}

ul{
    list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}